<div class="alert alert-info" role="alert" *ngIf="!films || films.length <= 0 ">
  <p class="h1 text-center text-danger">No Movies</p>
</div>
<div class="card-columns">
  <div class="card" *ngFor="let film of films; let i = index">
    <img class="card-img-top" [src]="film?.Poster" [alt]="film?.Title">
    <div class="card-body">
      <h5 class="card-title">{{film?.Title}}</h5>
    </div>
    <div class="card-footer">
      <small class="pointer" (click)="viewDetals(film.imdbID)">View</small>
      <small class="to-right">
        <img src="./../../../assets/pictures/star_true.png" class="pointer" (click)="remove(film)" *ngIf="isFavorate(film)">
        <img src="./../../../assets/pictures/star_false.png" class="pointer" (click)="save(film)" *ngIf="!isFavorate(film)">
      </small>
    </div>
  </div>
</div>
